aenum==3.1.15
aiohappyeyeballs==2.4.4
aiohttp==3.11.9
aiosignal==1.3.1
alembic==1.14.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
APScheduler==3.11.0
asgiref==3.8.1
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs==24.2.0
auth0-python==4.8.0
azure-core==1.32.0
azure-storage-blob==12.24.1
backoff==2.2.1  
bcrypt==4.2.1
beautifulsoup4==4.13.3
blinker==1.9.0
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.0
case_conversion==2.1.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.8
clipboard==0.0.4
cohere==5.13.12
colorama @ file:///C:/ci_311/colorama_1676422310965/work
coloredlogs==15.0.1
colour==0.1.5
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
crewai==0.100.1
crewai-tools==0.33.0
cryptography==44.0.0
cursor==1.3.5
dataclasses-json==0.6.7
debugpy @ file:///C:/b/abs_c0y1fjipt2/croot/debugpy_1690906864587/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.9
dirtyjson==1.0.8
distro==1.9.0
docker==7.1.0
docstring_parser==0.16
duckduckgo_search==7.3.2
durationpy==0.9
ecdsa==0.19.0
embedchain==0.1.126
et_xmlfile==2.0.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi==0.115.6
fastavro==1.10.0
filelock==3.16.1
filetype==1.2.0
flatbuffers==24.3.25
frozenlist==1.5.0
fsspec==2024.10.0
fuzzywuzzy==0.18.0
gender-guesser==0.4.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.157.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.79.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gptcache==0.1.44
greenlet==3.1.1
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.69.0
grpcio-tools==1.70.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html_text==0.6.2
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.3
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
infi.systray==0.1.12.1
inflect==7.5.0
instructor==1.7.2
ipykernel @ file:///C:/b/abs_5etv6sld_j/croot/ipykernel_1728665608850/work
ipython @ file:///C:/b/abs_53it5seiim/croot/ipython_1726064251844/work
isodate==0.7.2
jedi @ file:///C:/b/abs_1b8kmj7rrm/croot/jedi_1721058359741/work
Jinja2==3.1.5
jiter==0.8.0
joblib==1.4.2
json5==0.10.0
json_repair==0.35.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client @ file:///C:/b/abs_a6h3c8hfdq/croot/jupyter_client_1699455939372/work
jupyter_core @ file:///C:/b/abs_beftpbuevw/croot/jupyter_core_1718818307097/work
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.9
langchain-chroma==0.2.2
langchain-cohere==0.3.5
langchain-community==0.3.9
langchain-core==0.3.33
langchain-experimental==0.3.4
langchain-google-community==2.0.4
langchain-google-genai==2.0.7
langchain-openai==0.2.11
langchain-text-splitters==0.3.2
langsmith==0.1.147
litellm==1.59.8
llama-index-core==0.12.6
llama-parse==0.5.17
lxml==5.3.0
lxml_html_clean==0.4.1
lz4==4.3.3
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib-inline @ file:///C:/ci_311/matplotlib-inline_1676425798036/work
maybe-else==0.2.1
mbstrdecoder==1.1.4
mdurl==0.1.2
mem0ai==0.1.48
mmh3==5.0.1
monotonic==1.6
more-itertools==10.6.0
moviepy==2.1.2
mpmath==1.3.0
msal==1.31.1
msoffcrypto-tool==5.4.2
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.25.2
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numpy==1.26.4
O365==2.0.38
oauthlib==3.2.2
office365==0.3.15
Office365-REST-Python-Client==2.5.14
olefile==0.47
onnxruntime==1.20.1
openai==1.56.1
openpyxl==3.1.5
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
orjson==3.10.12
overrides==7.7.0
packaging @ file:///C:/b/abs_c3vlh0z4jw/croot/packaging_1720101866539/work
pandas==2.2.3
parsedatetime==2.6
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
passlib==1.7.4
pathmagic==0.3.14
pdfkit==1.0.0
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==10.4.0
pinecone==5.4.2
pinecone-plugin-inference==3.1.0
pinecone-plugin-interface==0.0.7
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
portalocker==2.10.1
posthog==3.7.4
prettierfier==1.0.3
primp==0.12.0
proglog==0.1.10
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.2
protoc-gen-openapiv2==0.0.1
psutil @ file:///C:/ci_311_rebuilds/psutil_1679005906571/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.3
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydeck==0.9.1
pydub==0.25.1
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pyinstrument==5.0.1
pyiotools==0.3.18
PyJWT==2.10.1
pylance==0.22.0
pymiscutils==0.3.14
pyparsing==3.2.1
pypdf==5.2.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
pyright==1.1.393
pysbd==0.3.4
pysubtypes==0.3.18
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-docx==1.1.2
python-dotenv==1.0.1
python-jose==3.3.0
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pywin32==305.1
PyYAML==6.0.2
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
qdrant-client==1.13.2
readchar==4.2.1
referencing==0.36.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
schema==0.7.7
Send2Trash==1.8.3
shapely==2.0.7
shellingham==1.5.4
simplejson==3.19.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.41.3
streamlit==1.42.0
sympy==1.13.3
tabulate==0.9.0
tenacity==9.0.0
tiktoken==0.7.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tornado @ file:///C:/b/abs_7bua0304mj/croot/tornado_1718740122405/work
tqdm==4.67.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typeguard==4.4.1
typepy==1.3.4
typer==0.15.0
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.3
uv==0.5.29
uvicorn==0.32.1
watchdog==6.0.0
watchfiles==1.0.0
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
websocket-client==1.8.0
websockets==14.1
wrapt==1.17.0
XlsxWriter==3.2.2
yarl==1.18.3
zipp==3.21.0
